
<div class="row">
{{# each Search}}
		<div id={{@ index}} class="col-offset-md-1 col-md-3">
		<img class="poster" src="{{Poster}}">
		<p class="title">{{Title}}</p>
		<p class="year">{{Year}}</p>
		<p class="plot">{{Plot}}</p>
		<button class="add-btn" id="{{imdbID}}">Add to Watchlist</button>
		<button class="delete-btn" id="{{id}}">Delete</button>
	</div>
{{/each}}
</div>
